#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
