.card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: #fff;
  /* border: 1px solid black; */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card-title {
}

.card-description {
}
